.rectangle17 {
  background: linear-gradient(
      269deg,
      rgba(250, 42, 255, 1) 10%,
      rgba(228, 243, 67, 1) 39%,
      rgba(55, 255, 74, 1) 68%,
      rgba(76, 136, 255, 1) 98%,
      rgba(142, 0, 255, 1) 132%
    )
    0% 0% / 100% 100% no-repeat;
  width: 466px;
  height: 8px;
  display: block;
  position: relative;
  border-radius: 24px;
}
