.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-4FBixWoof);
  min-width: 0;
  min-height: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
.nav:global(.__wab_instance) {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  padding: 16px 128px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nav:global(.__wab_instance) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.img__dPhQs {
  object-fit: cover;
}
.img__dPhQs > picture > img {
  object-fit: cover;
}
.img__dPhQs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__bQ3Ju {
  object-fit: cover;
}
.img__bQ3Ju > picture > img {
  object-fit: cover;
}
.img__bQ3Ju > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.nav2 {
  --plsmc-rc-col-gap: 0px;
}
.nav2 {
  display: flex;
  position: absolute;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 0px;
  top: 0px;
  z-index: 1;
  align-self: stretch;
  min-width: 0;
  padding: 8px 120px;
}
.nav2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.nav2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .nav2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 16px;
    padding-left: 16px;
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .nav2 > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .nav2 > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
  }
}
.column__wt9G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.logo {
  width: 52px;
  height: 56px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.group1 {
  width: 52px;
  height: 56px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle2 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.3719999999999999px, 0px);
  width: 7.64%;
  height: 100%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0%;
  left: 44.25%;
  border-radius: 20px;
}
.rectangle4 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(0.9996129250865057, 0.9998400129865349)
    rotate(59.92097413086177deg) skew(-0.20625166749043758deg, 0deg)
    translate(-0.357999999999997px, 0.3130000000000006px);
  width: 7.62%;
  height: 101.78%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 21.42%;
  left: 94.28%;
  border-radius: 20px;
}
.rectangle5 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(1.0004783855736215, 0.9989761042433374)
    rotate(-59.949676702062604deg) skew(0.14871178373655716deg, 0deg)
    translate(0.001px, -0.17999999999999972px);
  width: 7.62%;
  height: 101.78%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 28.57%;
  left: 0%;
  border-radius: 20px;
}
.img___0CTJi {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.4889999999999972px, 0px);
  width: 7px;
  height: 7px;
  display: block !important;
  top: 0%;
  left: 86.59%;
}
.img___0CTJi > picture > img {
  object-fit: cover;
}
.img___0CTJi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___166Gc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___166Gc {
    justify-content: flex-start;
    align-items: center;
  }
}
.frame10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  right: auto;
  flex-direction: row;
}
.frame10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.frame10 > :global(.__wab_flex-container) > *,
.frame10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame10 > :global(.__wab_flex-container) > picture > img,
.frame10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame10 {
    width: 100%;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    right: auto;
    align-self: baseline;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame10 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-end;
  }
}
.twitter {
  position: relative;
  display: flex;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: calc(8px + 24px) !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .twitter {
    margin-left: calc(8px + 24px) !important;
  }
}
.twitter2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-cDu6zQCnC);
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.discordLink2 {
  position: relative;
  display: flex;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: calc(8px + 24px) !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .discordLink2 {
    margin-left: calc(8px + 24px) !important;
  }
}
.discord2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-cDu6zQCnC);
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-height: 900px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    height: 720px;
    min-height: 640px;
    flex-shrink: 0;
  }
}
.hero2 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  left: auto;
  top: auto;
}
.hero2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.hero2 > :global(.__wab_flex-container) > *,
.hero2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero2 > :global(.__wab_flex-container) > picture > img,
.hero2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 48px;
}
.frame3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame3 {
    padding: 24px;
  }
}
.img__cXp8I {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  height: auto;
  margin-bottom: -80px;
  z-index: 0;
  margin-top: calc(-120px + 24px) !important;
}
.img__cXp8I > picture > img {
  object-fit: contain;
}
.img__cXp8I > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cXp8I {
    height: 180px;
    margin-top: calc(-120px + 24px) !important;
    flex-shrink: 0;
  }
}
.discoverTheUnexpected2 {
  display: block;
  font-size: 96px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: rgba(251, 251, 251, 1);
  position: relative;
  width: 676px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .discoverTheUnexpected2 {
    font-size: 64px;
    width: 100%;
    min-width: 0;
  }
}
.text__rsp9F {
  display: block;
  font-size: 32px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rsp9F {
    width: 100%;
    min-width: 0;
  }
}
.buttonPill {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 24px;
  padding: 12px 24px;
  border: 1px solid var(--token-cDu6zQCnC);
}
.buttonPill > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonPill > :global(.__wab_flex-container) > *,
.buttonPill > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonPill > :global(.__wab_flex-container) > picture > img,
.buttonPill
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.btnString {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.noAlgo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 640px;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: stretch;
  background: var(--token-T5y1lt1cT);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .noAlgo {
    max-width: none;
    height: 480px;
    flex-shrink: 0;
  }
}
.text___2GwSe {
  display: block;
  font-size: 96px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0.01em;
  line-height: 1.05999;
  color: rgba(20, 21, 22, 1);
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: 100%;
  margin-top: 0%;
  align-self: stretch;
  min-height: 0;
  padding: 10% 20%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2GwSe {
    font-size: 56px;
    width: 100%;
    margin-bottom: 0px;
    min-width: 0;
    padding: 137px 16px 271px;
  }
}
.wtf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 96px 8px 240px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wtf {
    padding: 104px 16px 88px;
    margin: 0px;
  }
}
.content2 {
  display: flex;
  position: relative;
  width: 650px;
  height: auto;
  flex-direction: column;
}
.content2 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 104px);
  height: calc(100% + 104px);
}
.content2 > :global(.__wab_flex-container) > *,
.content2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content2 > :global(.__wab_flex-container) > picture > img,
.content2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 104px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .content2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 0;
    min-height: 0;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .content2 > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .content2 > :global(.__wab_flex-container) > *,
  .content2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content2 > :global(.__wab_flex-container) > picture > img,
  .content2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.frame11 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  left: auto;
  top: auto;
}
.frame11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.frame11 > :global(.__wab_flex-container) > *,
.frame11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame11 > :global(.__wab_flex-container) > picture > img,
.frame11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame11 {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame11 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.logo5 {
  width: 68px;
  height: 73px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.group6 {
  width: 68px;
  height: 73px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle14 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.46699999999999875px, 0px);
  width: 7.64%;
  height: 100%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0%;
  left: 44.28%;
  border-radius: 26.071px;
}
.rectangle15 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(0.9996129250865057, 0.9998400129865349)
    rotate(59.92097413086177deg) skew(-0.20625166749043758deg, 0deg)
    translate(0.40800000000000125px, 0.05099999999999838px);
  width: 7.62%;
  height: 101.36%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 21.91%;
  left: 92.99%;
  border-radius: 26.071px;
}
.rectangle16 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(1.0004783855736215, 0.9989761042433374)
    rotate(-59.949676702062604deg) skew(0.14871178373655716deg, 0deg)
    translate(0.001px, -0.3780000000000001px);
  width: 7.62%;
  height: 101.36%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 28.76%;
  left: 0%;
  border-radius: 26.071px;
}
.img__kdhfW {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.2980000000000018px, 0px);
  width: 9px;
  height: 9px;
  display: block !important;
  top: 0%;
  left: 87.09%;
}
.img__kdhfW > picture > img {
  object-fit: cover;
}
.img__kdhfW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame7 {
  width: 650px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.frame7 > :global(.__wab_flex-container) > *,
.frame7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame7 > :global(.__wab_flex-container) > picture > img,
.frame7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame7 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame7 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___4YaGu {
  display: block;
  font-size: 48px;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: rgba(251, 251, 251, 1);
  align-self: stretch;
  position: relative;
}
.channel4IsTheAppYouAreLookingExperienceTheOgAndNewWayToDiscoverOnlineContentWeHaveComeToTheLongWaySinceInternetStartedRememberTheOldDaysWhenStumbleUponIsAroundWeAreNotForcedByAnyAlgorithmAndLearnSoMuchWhatsOutThereBySurfingOnlineLookingAtTheCurrentInternetCultureSoMuchPeopleUsingTiktokYoutubeToConsumeContentButManyOfYouAlreadyKnowThatYouHaveSomehowForceToSeeTheContentThatABigCorporationDecideForYouWithChannel4OhWeHaventMentionThisIsBuiltOnBlockchainUserLaunchTheAppAndHitArrowDownKeyYouSeeAlwaysNewThingsWeAreFromPollenLabASubGroupInPseWeAreHereToSolveThisProblemWithYou {
  display: block;
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(249, 250, 251, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .channel4IsTheAppYouAreLookingExperienceTheOgAndNewWayToDiscoverOnlineContentWeHaveComeToTheLongWaySinceInternetStartedRememberTheOldDaysWhenStumbleUponIsAroundWeAreNotForcedByAnyAlgorithmAndLearnSoMuchWhatsOutThereBySurfingOnlineLookingAtTheCurrentInternetCultureSoMuchPeopleUsingTiktokYoutubeToConsumeContentButManyOfYouAlreadyKnowThatYouHaveSomehowForceToSeeTheContentThatABigCorporationDecideForYouWithChannel4OhWeHaventMentionThisIsBuiltOnBlockchainUserLaunchTheAppAndHitArrowDownKeyYouSeeAlwaysNewThingsWeAreFromPollenLabASubGroupInPseWeAreHereToSolveThisProblemWithYou {
    margin-bottom: 96px;
  }
}
.frame15 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  left: auto;
  top: auto;
}
.frame15 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.frame15 > :global(.__wab_flex-container) > *,
.frame15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame15 > :global(.__wab_flex-container) > picture > img,
.frame15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame15 {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame15 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__d4Su3 {
  display: block;
  font-size: 48px;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.frame14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 37px);
  width: calc(100% + 37px);
}
.frame14 > :global(.__wab_flex-container) > *,
.frame14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame14 > :global(.__wab_flex-container) > picture > img,
.frame14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 37px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame14 {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame14 > :global(.__wab_flex-container) {
    flex-direction: row;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame14 > :global(.__wab_flex-container) > *,
  .frame14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame14 > :global(.__wab_flex-container) > picture > img,
  .frame14
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.freeBox__vCuXl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vCuXl {
    display: none;
  }
}
.group2 {
  width: 45px;
  height: 350px;
  display: block;
  flex-shrink: 0;
}
.logo2 {
  width: 45px;
  height: 49px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group3 {
  width: 45px;
  height: 49px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle3 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.23799999999999955px, 0px);
  width: 7.64%;
  height: 101.04%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0%;
  left: 44.44%;
  border-radius: 17.318px;
}
.rectangle6 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(0.9996129250865057, 0.9998400129865349)
    rotate(59.92097413086177deg) skew(-0.20625166749043758deg, 0deg)
    translate(0.11999999999999744px, -0.3379999999999992px);
  width: 7.62%;
  height: 101.04%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 22.68%;
  left: 93.33%;
  border-radius: 17.318px;
}
.rectangle7 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(1.0004783855736215, 0.9989761042433374)
    rotate(-59.949676702062604deg) skew(0.14871178373655716deg, 0deg)
    translate(0.001px, -0.30100000000000016px);
  width: 7.62%;
  height: 101.04%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 28.87%;
  left: 0%;
  border-radius: 17.318px;
}
.img__j7Jle {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.3890000000000029px, 0px);
  width: 6px;
  height: 6px;
  display: block !important;
  top: 0%;
  left: 86.66%;
}
.img__j7Jle > picture > img {
  object-fit: cover;
}
.img__j7Jle > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.logo3 {
  width: 45px;
  height: 49px;
  display: block;
  position: absolute;
  top: 120px;
  left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo3 {
    top: 198px;
  }
}
.group4 {
  width: 45px;
  height: 49px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle8 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.23799999999999955px, 0px);
  width: 7.64%;
  height: 101.04%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0%;
  left: 44.44%;
  border-radius: 17.318px;
}
.rectangle9 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(0.9996129250865057, 0.9998400129865349)
    rotate(59.92097413086177deg) skew(-0.20625166749043758deg, 0deg)
    translate(0.11999999999999744px, -0.3379999999999992px);
  width: 7.62%;
  height: 101.04%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 22.68%;
  left: 93.33%;
  border-radius: 17.318px;
}
.rectangle10 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(1.0004783855736215, 0.9989761042433374)
    rotate(-59.949676702062604deg) skew(0.14871178373655716deg, 0deg)
    translate(0.001px, -0.30100000000000016px);
  width: 7.62%;
  height: 101.04%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 28.87%;
  left: 0%;
  border-radius: 17.318px;
}
.img__l9Gw6 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.3890000000000029px, 0px);
  width: 6px;
  height: 6px;
  display: block !important;
  top: 0%;
  left: 86.66%;
}
.img__l9Gw6 > picture > img {
  object-fit: cover;
}
.img__l9Gw6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.logo4 {
  width: 45px;
  height: 49px;
  display: block;
  position: absolute;
  top: 329px;
  left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo4 {
    top: 391px;
  }
}
.group5 {
  width: 45px;
  height: 49px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle11 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.23799999999999955px, 0px);
  width: 7.64%;
  height: 101.04%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0%;
  left: 44.44%;
  border-radius: 17.318px;
}
.rectangle12 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(0.9996129250865057, 0.9998400129865349)
    rotate(59.92097413086177deg) skew(-0.20625166749043758deg, 0deg)
    translate(0.11999999999999744px, -0.3379999999999992px);
  width: 7.62%;
  height: 101.04%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 22.68%;
  left: 93.33%;
  border-radius: 17.318px;
}
.rectangle13 {
  background: linear-gradient(
      180deg,
      rgba(142, 0, 255, 1) 0%,
      rgba(228, 243, 67, 1) 23%,
      rgba(55, 255, 74, 1) 47%,
      rgba(76, 136, 255, 1) 71%,
      rgba(250, 42, 255, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  transform: scale(1.0004783855736215, 0.9989761042433374)
    rotate(-59.949676702062604deg) skew(0.14871178373655716deg, 0deg)
    translate(0.001px, -0.30100000000000016px);
  width: 7.62%;
  height: 101.04%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 28.87%;
  left: 0%;
  border-radius: 17.318px;
}
.img___97B9T {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.3890000000000029px, 0px);
  width: 6px;
  height: 6px;
  display: block !important;
  top: 0%;
  left: 86.66%;
}
.img___97B9T > picture > img {
  object-fit: cover;
}
.img___97B9T > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.frame13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-right: 0px;
}
.frame13 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 56px);
  height: calc(100% + 56px);
}
.frame13 > :global(.__wab_flex-container) > *,
.frame13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame13 > :global(.__wab_flex-container) > picture > img,
.frame13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 56px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame13 {
    width: 70%;
  }
}
.frame4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame4 > :global(.__wab_flex-container) > *,
.frame4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4 > :global(.__wab_flex-container) > picture > img,
.frame4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame4 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame4 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___0B74E {
  display: block;
  font-size: 32px;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.text__sFlsA {
  display: block;
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  position: relative;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sFlsA {
    width: 100%;
    min-width: 0;
  }
}
.frame5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame5 > :global(.__wab_flex-container) > *,
.frame5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5 > :global(.__wab_flex-container) > picture > img,
.frame5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame5 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame5 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__pJvcj {
  display: block;
  font-size: 32px;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text___7NCd {
  display: block;
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100%;
  max-width: 508px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7NCd {
    width: 100%;
    min-width: 0;
  }
}
.frame6 {
  width: 555px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame6 > :global(.__wab_flex-container) > *,
.frame6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6 > :global(.__wab_flex-container) > picture > img,
.frame6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame6 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame6 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__rmYzT {
  display: block;
  font-size: 32px;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__wlgKc {
  display: block;
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  position: relative;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wlgKc {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__napVn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-T5y1lt1cT);
  min-width: 0;
  padding: 80px 8px 182px;
}
.frame12 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}
.frame12 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.frame12 > :global(.__wab_flex-container) > *,
.frame12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame12 > :global(.__wab_flex-container) > picture > img,
.frame12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame12 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame12 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__epnMr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__epnMr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__epnMr > :global(.__wab_flex-container) > *,
.freeBox__epnMr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__epnMr > :global(.__wab_flex-container) > picture > img,
.freeBox__epnMr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.link___5Vtfd {
  display: block;
  font-size: 96px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: var(--token-4FBixWoof);
  width: 859px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___5Vtfd {
    width: 100%;
    font-size: 64px;
    min-width: 0;
  }
}
.text___7LqNy {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: var(--token-4FBixWoof);
  position: relative;
  width: 859px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7LqNy {
    width: 100%;
    font-size: 20px;
    min-width: 0;
  }
}
.frame8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.frame8 > :global(.__wab_flex-container) > *,
.frame8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8 > :global(.__wab_flex-container) > picture > img,
.frame8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame8 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame8 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 56px);
    height: calc(100% + 56px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame8 > :global(.__wab_flex-container) > *,
  .frame8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame8 > :global(.__wab_flex-container) > picture > img,
  .frame8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 56px;
  }
}
.link__u3PXf {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: var(--token-4FBixWoof);
  position: relative;
}
.link__zoZp {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: var(--token-4FBixWoof);
  position: relative;
}
.link__up95N {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.01999;
  color: var(--token-4FBixWoof);
  position: relative;
}
